
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:200px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Device Locator</b></h3>
  </div>
  <div class="w3-bar-block">
   {% if current_user.is_authenticated %}
    <a class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('logout') }}" >Logout</a> 

      {% else %}

     <a  class="w3-bar-item w3-button w3-hover-white" href="{{ url_for('login') }}">Login</a> 

      {% endif %}

    <a href="{{ url_for('home') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Locate Device</a> 
    <a href="{{ url_for('about') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About Locator</a> 
  </div>
</nav>

